@media screen and (max-width: 991px) {
  .card p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 991px) {
  .card a {
    font-size: 0.8em;
  }
}

.nav-item a:hover {
  text-decoration: underline;
  font-size: 1.01em;
}
