.card{
	h2{
		font-size: 1rem;
		@media screen and (max-width: 991px){
			font-size: 0.8em;
		}
	}
	a{
		@media screen and (max-width: 991px){
			font-size: 0.8em;
		}
	}	
}
.nav-item{
	a{
		&:hover{
			text-decoration: underline;
  			font-size: 1.01em;

		}
	}
}
@each $k, $v in $fuentes{
	.font-#{$k}{
		font-weight: $v;
	}
}
